/* nav bar fonts */

.navbar-brand {
    font-family: 'Architects Daughter', cursive;
}

.navbar-nav a {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}


/* title images and text */

.title {
    position: relative;
    text-align: center;
    color: white;
}

.title-image {
    opacity: 0.8;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title-text {
    font-family: 'Anton', sans-serif;
    font-size: 250px;
    color: black;
}

.history {
    margin-top: 20px;
    width: 800px;
}

#history {
    background-color: #dbfffc;
    font-family: Arial, Helvetica, sans-serif;
}

.hist {
    background-color: #dbfffc;
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.other-recipe {
    margin-top: -200px;
}

.other-text {
    padding-top: 10px;
    color: black;
}
