/* nav bar fonts */

.navbar-brand {
    font-family: 'Architects Daughter', cursive;
}

.navbar-nav a {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}


/* title images and text */

.title-image {
    position: relative;
    text-align: center;
    color: white;
    left: -180px;
}

#title-text {
    position: relative;
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    color: black;
    top: -250px;
    left: 200px;
}
